{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"insertPragma": false,
	"vueIndentScriptAndStyle": true,
	"parser": "typescript",
	"eslintIntegration": true,
	"stylelintIntegration": true,
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"cssEnableSemicolonAutoInsertion": true,
	"phpIndentScript": "normal",
	"phpScriptTags": true
}